apps_dirs:
  - "apps/*"
deps_dirs:
  - "_build/default/lib/*"
  - "_build/test/lib/*"
  
erls_dirs:
  - "common"
  - "game"

include_dirs:
  - "apps"
  - "apps/*/include"
  - "_build/*/lib/"
  - "_build/*/lib/*/include"

diagnostics:
  enabled:
    - bound_var_in_pattern
  disabled:
    - compiler
    - unused_includes
    - unused_record_fields
    - crossref
    - unused_macros
    - dialyzer

lenses:
#   enabled:
#     - ct-run-test
#     - show-behaviour-usages
#     - function-references
#     - server-info
#     - suggest-spec
  disabled:
    - ct-run-test
    - show-behaviour-usages
    - function-references
    - server-info
    - suggest-spec